
.paginationBttns {
    list-style: none;
    display: flex;
    margin-top: 40px;
}

.paginationBttns a {
    padding: 10px;
    margin: 0 8px;
    color: #122f49;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #00d1b2;
}

.paginationActive a {
    /* border-radius: 10px; */
    color: white;
    background-color: #00d1b2;
}

.paginationDisabled a {
    color: grey;
    border-color: grey;
    cursor: not-allowed;
}

.paginationDisabled a:hover {
    color: grey;
    border-color: grey;
    cursor: not-allowed;
    background-color: transparent;
}
